 <!--快捷导航-->
    <nav class="commom-nav dis-box ts-5">
        <div class="left-icon">
            <div class="nav-icon">{$lang.navigation}</div>
            <div class="filter-top filter-top-index" id="scrollUp">
                <i class="iconfont icon-jiantou"></i>
                <span>{$lang.top}</span>
            </div>
        </div>
        <div class="right-cont box-flex">
            <ul class="nav-cont">
                <li>
                      <a href="{url('/')}">
                        <i class="iconfont icon-home"></i>
                        <p>Home</p>
                      </a>  
                </li>
                <li>
                     <a href="{url('category/index/index')}">
                         <i class="iconfont icon-caidan"></i>
                         <p>{$lang.category}</p>
                     </a> 
                </li>
                <li>
                     <a href="{url('team/index/index')}">
                         <i class="iconfont icon-wodetuandui"></i>
                         <p>G-Buying</p>
                      </a> 
                </li>
                <li>
                    <a href="{url('user/index/index')}">
                         <i class="iconfont icon-geren"></i>
                         <p>{$lang.me}</p>
                    </a> 
                </li>
            </ul>
        </div>
    </nav>
    <div class="common-show"></div> 